html, body{
    width:100%;
    height:100%;
    background:rgb(245, 245, 245);
}

.board{
    position:relative;
    width:400px;
    height:360px;
    margin:0 auto;
    background:#fff;
    box-shadow:0px 0px 6px #ddd;
    padding:30px 0;
    top:16%;
}

.board-title{
    font-size:20px;
    font-weight:lighter;
    text-align:center;
    margin-bottom:30px;
}

.layui-tab{
    width:340px;
    margin:0 auto;
}

.layui-tab-title li{
    padding:0;
    width:50%;
}


.layui-form-item .wrapper-button{
    margin-left:0;
    text-align:center;
}

.bottom-item{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:30px;
}

.bottom-item a{
    color:#009688;
    font-size:12px;
}

.bottom-item a:hover{
    color:#00887a;
}


.login-btn{
    margin-top:16px;
}

.vcode-img{
    display:inline-block;
    position:absolute;
    width:102.6px;
    height:38px;
    top:0;
    right:0;
    border-radius:0 2px 2px 0;
    cursor:pointer;
    background-size:contain;
}

.footer{
    position:fixed;
    text-align:center;
    bottom:0;
    padding:14px 0;
    background:#eee;
    width:100%;
}

.verifyCode-tip{
    position:absolute;
    right:0;
    top:0px;
    padding:0 10px;
    font-size:14px;
    border-radius:0 2px 2px 0;
}